*{
	font-weight: bold;
    list-style: none;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(255, 153, 0);
  animation-name: bounceIn;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 1ms;
  animation-iteration-count: 1;
}
section.shell{
    background-image: url(https://images5.alphacoders.com/588/thumb-1920-588769.jpg);
    height: 100vh;
}
section.shell header div{
          width: 100px;
          height: 100px;
          background:rgb(251, 255, 0);
          border-radius:20px ;
          text-align: center;
          padding-top: 10px;
          margin-left: 1200px;
          margin-top: 10px;
          color: black;
}
section.shell header{
   margin-top:  5px;
}
section.wrapper h1{
     padding-top 50px;
     padding-left: 350px;
     font-size: 45px;
}
section.wrapper img{
    padding-left: 450px;
    margin-bottom: 30px;
}
section.wrapper form{
    padding-left:420px;
    margin-bottom: 30px;
}
section.wrapper form input{
  width:300px;
  height: 50px;
  text-align: center;
  border-radius: 20px;
}
section.wrapper div{
    width:100px ;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    border-radius: 20px;
    color: white;
    margin-left: 100px;
    margin-top: 5px;
    border: 3px solid rgb(255, 196, 0);
}
section.wrapper div:hover{
    color:   white; 
    background: rgb(255, 196, 0);
    border:3px solid rgb(234, 248, 245);
}
 @keyframes bounceIn{
     0% {
                 transform: scale(0.1);
                 opacity: 0;
     }
     60 %{
                 transform: scale(1.2);
                 opacity: 0;
     }
     100%{
                 transform: scale(1);
     }
 }
